@import "react-alice-carousel/lib/alice-carousel.css";
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}
body{
    background-color: black;
    color: white;
    overflow-x:clip;
}
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.menuClose{
    transform: translateX(100%);
    transition: 500ms;
}
.menuOpen{
    transform: translateX(0);
    transition: 500ms;
}
.toggle{
    transition: 0.15s ease-in;
}

.alerta{
    display: flex;
    flex-direction: column;
    gap: 6px;
    text-align: center;
    color: black;
}
.alertaTitle{
    font-family: 'Heebo';
    font-size: 18px;
    font-weight: 800;
    padding-top: 20px;
}
.alertaText{
    margin: 0 auto;
    width: 190px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    font-weight: 400;
}

/* .imgCont{
    width: 100px;
    height: 100px;
    z-index: 10px;
    background-image: url("./assets/images/logo/logoPositivo.png");
} */

#modal-modal-title{
    font-size: 0.875rem;
    font-weight: 700;
    margin-left: 2px;
}
.css-3ekgo6{
    padding: 8px !important;
}
@media screen and (min-width: 1024px) {
    #modal-modal-title {
            font-size: 1.875rem;
        }
    .css-3ekgo6{
    padding: 26px !important;
}
}
#modal-modal-description{
    display: flex;
    flex-direction: column;
    gap: 2;
    margin-top: 0;
    font-size: 0.6rem;
    font-weight: 300;
    margin-left: 3px;
}
.alice-carousel__dots{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
.alice-carousel__dots .alice-carousel__dots-item{
    margin: 1px;
    width: 8px;
    height: 8px;
    background-color: #CBC8C880;
}
.alice-carousel__dots .alice-carousel__dots-item.__active {
    margin: 1px;
    background-color: white;
}
.alice-carousel__dots .alice-carousel__dots-item.__custom {
    margin: 1px;
    background-color: white;
}
.alice-carousel__dots-item:not(.__custom):not(:last-child){
    margin: 0px;
}

.alice-carousel__stage-item {
    margin-right: -0.01px;
}


.alice-carousel__prev-btn, .alice-carousel__next-btn{
    display: none;
}
@media screen and (min-width:1024px){
    .alice-carousel__prev-btn {
            display: block;
            position: absolute;
            top: 35%;
            left: 0;
        }
        .alice-carousel__prev-btn-wrapper {
            text-align: left;
        }
        .alice-carousel__prev-btn-item {
            font-size: 3rem;
            color: white;
        }
        .alice-carousel__prev-btn-item .__inactive {
            color: gray;
        }
    
    
        .alice-carousel__next-btn {
            display: block;
            position: absolute;
            top: 35%;
            right: 0;
        }
        .alice-carousel__next-btn-wrapper {
            text-align: right;
        }
        .alice-carousel__next-btn-item {
            font-size: 3rem;
            color: white;
        }
        .alice-carousel__next-btn-item .__inactive {
            color: gray;
        }

        /****** Historia Carousel******/
        .historiaCarousel .alice-carousel__prev-btn,.historiaCarousel .alice-carousel__next-btn{
            top: 40%;
        }
        .historiaCarousel .alice-carousel__next-btn-item,.historiaCarousel .alice-carousel__prev-btn-item {
            font-size: 5rem;
            color: #565454;
        }
        .historiaCarousel .alice-carousel__prev-btn-item .__inactive,.historiaCarousel .alice-carousel__next-btn-item .__inactive {
            color: #56545480;
        }
        /****** Reseñas Carousel******/
        .reseñas_carousel .alice-carousel__next-btn, .reseñas_carousel .alice-carousel__prev-btn{
            width: 80px;
        }
        .reseñas_carousel  .alice-carousel .alice-carousel__next-btn{
            right: 50px;

        }
        
        .reseñas_carousel .alice-carousel__next-btn-item,
        .reseñas_carousel .alice-carousel__prev-btn-item {
            font-size: 5rem;
            font-weight: 400;
            color: black;
            width: 100%;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            border-radius: 6%;
            background-color: white;
            box-shadow: -2px 2px 5px 3px rgba(0, 0, 0, 0.24);
            -webkit-box-shadow: -2px 2px 5px 3px rgba(0, 0, 0, 0.24);
            -moz-box-shadow: -2px 2px 5px 3px rgba(0, 0, 0, 0.24);
        }
        .reseñas_carousel .alice-carousel__prev-btn-item.__inactive, .reseñas_carousel .alice-carousel__next-btn-item.__inactive {
            color: transparent;
            background-color: transparent;
            box-shadow: none;
        }
}
@media screen and (min-width:1440px) {
    .reseñas_carousel .alice-carousel__next-btn,
        .reseñas_carousel .alice-carousel__prev-btn {
            width: 100px;
        }
    .reseñas_carousel .alice-carousel__next-btn-item,
        .reseñas_carousel .alice-carousel__prev-btn-item {
            font-size: 7rem;
            height: 120px;
        }
}
/********sucursales modal gps*********/
.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop{
    background-color: rgba(0, 0, 0, 0.3) !important;
}

/**********navbar**********/
.nav {
    position: relative;
}

.nav::before {
    display: none;
    content: "";
    height: 2px;
    width: 0%;
    background-color: white;
    left: 0;
    bottom: -8px;
    position: absolute;
    transition: 300ms;

}
@media screen and (min-width:1024px) {
    .nav::before{
        display: block;
    }
}
.navLink:hover .nav::before {
    width: 100%;
}
.dropdown:hover .nav::before {
    width: 100%;
}
.dropdown:hover .navDrop {
    display: flex;
}
.navDrop:hover{
    display: flex;
}

.dropdown:hover .dropdownNavIcon{
    --tw-rotate: 180deg;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}