@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}
body{
    background-color: black;
    color: white;
    overflow-x:clip;
}
.menuClose{
    transform: translateX(100%);
    transition: 500ms;
}
.menuOpen{
    transform: translateX(0);
    transition: 500ms;
}
.toggle{
    transition: 0.15s ease-in;
}

.alerta{
    display: flex;
    flex-direction: column;
    gap: 6px;
    text-align: center;
    color: black;
}
.alertaTitle{
    font-family: 'Heebo';
    font-size: 18px;
    font-weight: 800;
    padding-top: 20px;
}
.alertaText{
    margin: 0 auto;
    width: 190px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    font-weight: 400;
}

/* .imgCont{
    width: 100px;
    height: 100px;
    z-index: 10px;
    background-image: url("./assets/images/logo/logoPositivo.png");
} */

#modal-modal-title{
    font-size: 0.94rem;
    font-weight: 700;
    margin-left: 2px;
}
#modal-modal-description{
    display: flex;
    flex-direction: column;
    gap: 2;
    margin-top: 0;
    font-size: 0.6rem;
    font-weight: 300;
    margin-left: 3px;
}
