@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;600;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: black;
    color: white;
    overflow-x:clip;
}
.menuClose{
    transform: translateX(100%);
    transition: 500ms;
}
.menuOpen{
    transform: translateX(0);
    transition: 500ms;
}
.toggle{
    transition: 0.15s ease-in;
}

.alerta{
    display: flex;
    flex-direction: column;
    gap: 6px;
    text-align: center;
    color: black;
}
.alertaTitle{
    font-family: 'Heebo';
    font-size: 18px;
    font-weight: 800;
    padding-top: 20px;
}
.alertaText{
    margin: 0 auto;
    width: 190px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    font-weight: 400;
}

/* .imgCont{
    width: 100px;
    height: 100px;
    z-index: 10px;
    background-image: url("./assets/images/logo/logoPositivo.png");
} */